<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sport.dao.AdminMapper">
	<resultMap type="com.sport.entity.Admin" id="BasicMap">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="username" jdbcType="VARCHAR" property="username"/>
		<result column="userpwd" jdbcType="VARCHAR" property="userpwd"/>
	</resultMap>
	
	<resultMap type="com.sport.entity.Users" id="AllUserMap">
		<id column="u_id" jdbcType="INTEGER" property="uID" />
		<result column="u_name" jdbcType="VARCHAR" property="uName"/>
		<result column="u_password" jdbcType="VARCHAR" property="uPassword"/>
		<result column="u_phone_number" jdbcType="VARCHAR" property="uPhoneNumber"/>
		<result column="u_nickname" jdbcType="VARCHAR" property="uNickName"/>
	</resultMap>
	
	<resultMap type="com.sport.entity.Sport" id="AllSportMap">
		<id column="h_id" jdbcType="INTEGER" property="hID" />
		<result column="sport_name" jdbcType="VARCHAR" property="sportName"/>
		<result column="publisher" jdbcType="VARCHAR" property="publisher"/>
		<result column="publish_time" jdbcType="VARCHAR" property="publishTime"/>
	</resultMap>
	
	<!-- 管理员登录 -->
	<select id="adminAccess" resultMap="BasicMap" parameterType="com.sport.entity.Admin">
		select * from t_admin where username=#{username} and userpwd=#{userpwd}
	</select>
	
	<!-- 查询所有用户 -->
	<select id="findAllUser" resultMap="AllUserMap">
		select * from t_users 
	</select>
	
	<select id="findAllSport" resultMap="AllSportMap" parameterType="com.sport.entity.Page">
		select * from t_sport limit #{page},#{limit}
	</select>
	
	<delete id="deleteSport" parameterType="int">
		delete from t_sport where h_id=#{hID}
	</delete>
	
	<select id="findUserById" parameterType="int" resultMap="AllUserMap">
		select * from t_users where u_id = #{uID}
	</select>
	
	<update id="updateUser" parameterType="com.sport.entity.Users">
		update t_users set
			u_name = #{uName},
			u_password = #{uPassword},
			u_phone_number=#{uPhoneNumber},
			u_nickname = #{uNickName}
		where u_id=#{uID}
	</update>
	
	<delete id="deleteUser" parameterType="int">
		delete from t_users where u_id=#{uID}
	</delete>
	
	<select id="checkAdminPwd" parameterType="com.sport.entity.Admin" resultMap="BasicMap">
		select * from t_admin where userpwd=#{userpwd} and id = #{id}
	</select>
	
	<update id="updateAdminPwd" parameterType="com.sport.entity.Admin">
		update t_admin set
			userpwd=#{userpwd}
		where id=#{id}
	</update>
</mapper>